{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block Montitre %} inscription {% endblock %}
{% block body %}

{# on affiche un message flash #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<div class="container">
    {# on va afficher notre formulaire #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Valider">
    {{ form_end(form) }}
</div>
{% endblock %}


